<%= simple_form_for(@confirm_delete) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :session_id %>
    <%= f.input :mobile_num %>
    <%= f.input :choice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
