<p id="notice"><%= notice %></p>

<h1>Listing Confirm Deletes</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Mobile num</th>
      <th>Choice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirm_deletes.each do |confirm_delete| %>
      <tr>
        <td><%= confirm_delete.session_id %></td>
        <td><%= confirm_delete.mobile_num %></td>
        <td><%= confirm_delete.choice %></td>
        <td><%= link_to 'Show', confirm_delete %></td>
        <td><%= link_to 'Edit', edit_confirm_delete_path(confirm_delete) %></td>
        <td><%= link_to 'Destroy', confirm_delete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confirm delete', new_confirm_delete_path %>
