<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @confirm_delete.session_id %>
</p>

<p>
  <strong>Mobile num:</strong>
  <%= @confirm_delete.mobile_num %>
</p>

<p>
  <strong>Choice:</strong>
  <%= @confirm_delete.choice %>
</p>

<%= link_to 'Edit', edit_confirm_delete_path(@confirm_delete) %> |
<%= link_to 'Back', confirm_deletes_path %>
