<%= simple_form_for(@ussd_log) do |f| %>
  <%= f.error_notification %>

<div class = "w3-card-4 w3-round-large"><br>
	  <div class="w3-container">
	    <%= f.input :msg_type, :class => "w3-input w3-round", :required => true %>
	    <%= f.input :service_key, :class => "w3-input w3-round", :required => true %>
	    <%= f.input :session_id, :class => "w3-input w3-round", :required => true %>
	    <%= f.input :mobile_num, :class => "w3-input w3-round", :required => true %>
	    <%= f.input :ussd_body, :class => "w3-input w3-round", :required => true %>
	    <%= f.input :nw_code, collection: ['01', '02', '03', '04', '05', '06'], :class => "w3-input w3-round", :required => true %>
	    <%= f.input :status, :class => "w3-input w3-round ", :as => :hidden %>
	    
	    <%= link_to 'Back', ussd_logs_path, class: "w3-button w3-teal w3-round-large w3-hoverable w3-left" %>
	    <%= f.button :submit, class: "w3-blue w3-round-large w3-hoverable w3-button w3-right" %>
	  </div>
	
	  <!-- <div class="form-actions">
	    <%= f.button :submit, class: "w3-blue w3-round-large w3-hoverable w3-button w3-right" %>
	  </div> -->
	  
  <br />
  
 </div>
<% end %>
