<div class="w3-container">
	<h3>Add Ussd Log</h3>
	<div class="w3-row">
		<div class="w3-col w3-container m4 col-sm-12"></div>
		<div class="w3-col w3-container m4 col-sm-12 ">
			<%= render 'form' %>
		</div>
		<div class="w3-col w3-container m4 col-sm-12 "></div>
		
	</div>
	
</div>

