<p id="notice"><%= notice %></p>

<p>
  <strong>Msg type:</strong>
  <%= @ussd_log.msg_type %>
</p>

<p>
  <strong>Service key:</strong>
  <%= @ussd_log.service_key %>
</p>

<p>
  <strong>Session:</strong>
  <%= @ussd_log.session_id %>
</p>

<p>
  <strong>Mobile num:</strong>
  <%= @ussd_log.mobile_num %>
</p>

<p>
  <strong>Ussd body:</strong>
  <%= @ussd_log.ussd_body %>
</p>

<p>
  <strong>Nw code:</strong>
  <%= @ussd_log.nw_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ussd_log.status %>
</p>

<%= link_to 'Edit', edit_ussd_log_path(@ussd_log) %> |
<%= link_to 'Back', ussd_logs_path %>
