<p id="notice"><%= notice %></p>

<h1>Listing Confirm Shows</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Mobile num</th>
      <th>Choice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirm_shows.each do |confirm_show| %>
      <tr>
        <td><%= confirm_show.session_id %></td>
        <td><%= confirm_show.mobile_num %></td>
        <td><%= confirm_show.choice %></td>
        <td><%= link_to 'Show', confirm_show %></td>
        <td><%= link_to 'Edit', edit_confirm_show_path(confirm_show) %></td>
        <td><%= link_to 'Destroy', confirm_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confirm show', new_confirm_show_path %>
