<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @confirm_show.session_id %>
</p>

<p>
  <strong>Mobile num:</strong>
  <%= @confirm_show.mobile_num %>
</p>

<p>
  <strong>Choice:</strong>
  <%= @confirm_show.choice %>
</p>

<%= link_to 'Edit', edit_confirm_show_path(@confirm_show) %> |
<%= link_to 'Back', confirm_shows_path %>
