<p id="notice"><%= notice %></p>

<h1>Listing Confirm Edits</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Mobile num</th>
      <th>Choice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confirm_edits.each do |confirm_edit| %>
      <tr>
        <td><%= confirm_edit.session_id %></td>
        <td><%= confirm_edit.mobile_num %></td>
        <td><%= confirm_edit.choice %></td>
        <td><%= link_to 'Show', confirm_edit %></td>
        <td><%= link_to 'Edit', edit_confirm_edit_path(confirm_edit) %></td>
        <td><%= link_to 'Destroy', confirm_edit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confirm edit', new_confirm_edit_path %>
