<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @confirm_edit.session_id %>
</p>

<p>
  <strong>Mobile num:</strong>
  <%= @confirm_edit.mobile_num %>
</p>

<p>
  <strong>Choice:</strong>
  <%= @confirm_edit.choice %>
</p>

<%= link_to 'Edit', edit_confirm_edit_path(@confirm_edit) %> |
<%= link_to 'Back', confirm_edits_path %>
