<%= simple_form_for(@tmp_contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :FIRSTNAME %>
    <%= f.input :LASTNAME %>
    <%= f.input :PHONE_NUM %>
    <%= f.input :AGE %>
    <%= f.input :GENDER %>
    <%= f.input :MOBILE_NUMBER %>
    <%= f.input :STATUS %>
    <%= f.input :SESSION_ID %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
