<p id="notice"><%= notice %></p>

<h1>Listing Tmp Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone num</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Mobile number</th>
      <th>Status</th>
      <th>Session id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tmp_contacts.each do |tmp_contact| %>
      <tr>
        <td><%= tmp_contact.FIRSTNAME %></td>
        <td><%= tmp_contact.LASTNAME %></td>
        <td><%= tmp_contact.PHONE_NUM %></td>
        <td><%= tmp_contact.AGE %></td>
        <td><%= tmp_contact.GENDER %></td>
        <td><%= tmp_contact.MOBILE_NUMBER %></td>
        <td><%= tmp_contact.STATUS %></td>
        <td><%= tmp_contact.SESSION_ID %></td>
        <td><%= link_to 'Show', tmp_contact %></td>
        <td><%= link_to 'Edit', edit_tmp_contact_path(tmp_contact) %></td>
        <td><%= link_to 'Destroy', tmp_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tmp contact', new_tmp_contact_path %>
