<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @tmp_contact.FIRSTNAME %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tmp_contact.LASTNAME %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @tmp_contact.PHONE_NUM %>
</p>

<p>
  <strong>Age:</strong>
  <%= @tmp_contact.AGE %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @tmp_contact.GENDER %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @tmp_contact.MOBILE_NUMBER %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tmp_contact.STATUS %>
</p>

<p>
  <strong>Session id:</strong>
  <%= @tmp_contact.SESSION_ID %>
</p>

<%= link_to 'Edit', edit_tmp_contact_path(@tmp_contact) %> |
<%= link_to 'Back', tmp_contacts_path %>
