<%= simple_form_for(@user, url: update_user_path) do |f| %>
  <%= f.error_notification %>

<div class = "w3-card-4 w3-round-large"><br>
	  <div class="w3-container">
	  	<div class ="pull-left">
		   <%= f.input :fullname, required: true, input_html: { style: 'width: 200px' } %>
		</div>
		 
		 <div class ="pull-right">  
		   <%= f.input :username, required: true, input_html: { style: 'width: 200px' } %>
		 </div>
		 
		 <div class ="pull-left">
		   <%= f.input :email, required: true, email: true, input_html: { style: 'width: 200px' } %>
		 </div>
		 
		 <% if current_user.present? && current_user.role_id == 1 %>
			 <div class ="pull-right"> 
			   <%= f.input :role_id, collection: @roles, label_method: :role_name, value_method: :id, required: true, input_html: { style: 'width: 200px' } %>
			 </div>
		 <%else%>
		 	<div class ="pull-right"> 
			   <%= f.input :role_id, collection: @roles, label_method: :role_name, value_method: :id, required: true, disabled: true, input_html: { style: 'width: 200px' } %>
			 </div>
		  <%end%>
		 
		 <div class ="pull-left">
		   <%= f.input :password, input_html: { style: 'width: 200px' } %>
		 </div>
		 
		 <div class ="pull-right">		
		   <%= f.input :password_confirmation, input_html: { style: 'width: 200px' } %>
		 </div>
		  
		  
		   <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
		   
		  <div style = "margin-top: 23%"> 
			 <%= f.submit "Update User", class: "w3-button w3-teal w3-round-large w3-hoverable w3-left" %>
			
			 <%= link_to ' Go Back', :back, class: "w3-blue w3-round-large w3-hoverable w3-button w3-right" %>
		  </div>
	  </div> 
	  <br>
 </div>
<% end %>