<h3>Edit Contact</h3>

<div class="w3-container">
	<div class="w3-row">
		<div class="w3-col w3-container m4 col-sm-12"></div>
		<div class="w3-col w3-container m4 col-sm-12 ">
			<!-- <%= render 'form' %> -->
		</div>
		<div class="w3-col w3-container m4 col-sm-12 "></div>
		
	</div>
	
</div>

<!-- 
<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %> -->