<%= simple_form_for(@user, url: update_user_path) do |f| %>
  <%= f.error_notification %>

<div class = "w3-card-4 w3-round-large"><br>
	  <div class="w3-container">
		   <%#= f.input :fullname, required: true %>
		   
		   <%#= f.input :username, required: true %>
		
		   <%#= f.input :email, required: true, email: true %>
		
		   <%= f.input :password, required: true %>
		
		
		   <%= f.input :password_confirmation, required: true %>
		   
		   <%#= f.input :role_id, collection: @roles, label_method: :role_name, value_method: :id, required: true %>
		   
		   <%#= f.input :status, :as=> :hidden, input_html: {value: 1 } %>
		   
		   
		   <%= f.submit "Update User", class: "w3-button w3-teal w3-round-large w3-hoverable w3-left" %>
		
		  <%= link_to ' Go Back', :back, class: "w3-blue w3-round-large w3-hoverable w3-button w3-right" %>
	
	  </div> 
	  <br>
 </div>
<% end %>