<div class="w3-container" style = "margin-top: 5%">
	<h3>Edit User</h3>
	<div class="w3-row">
		<div class="w3-col w3-container m4 col-sm-12"></div>
		<div class="w3-col w3-container m4 col-sm-12 ">
			<span style = 'color:red'>NB: Please leave password fields blank if you don't want to change password! </span>
			<%= render 'edit_form' %>
		</div>
		<div class="w3-col w3-container m4 col-sm-12 "></div>
		
	</div>
	
</div>