<div class="w3-row">
	<div class="w3-col w3-container m1 "></div>
	<div class="w3-col w3-container m10 ">
		<h3>Users</h3>
		
		<p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
		<b>Download:</b> <%= link_to "csv", users_path(format: "csv") %> 
		<!-- | <%= link_to "excel", contacts_path(format: "xlsx") %>  -->
		</p>
		
		 <%= form_tag users_path, method: :get, input_html:{display:"block"} do %>
			
			 <div class="radio_div">
			 	<b>Filter By:</b><br />
				<input id="username" type="radio" name="search_param" value="username" class = "w3-radio" /> Username 
					
				<input id="role" type="radio" name="search_param" value="role" class = "w3-radio" /> Role 
				
				<input id="date" type="radio" name="search_param" value="date" class = "w3-radio" /> Date 
					
			 </div>
				
									
			 <div class="form-inline" style = 'margin-top: 10px; margin-bottom: -20px'>
				<input id="search-field" class="hidden w3-input w3-border w3-round form-control"  name="search_value" />
				<input type="submit" id="search-field2" class=" hidden btn btn-primary " value="Search" >
			 </div>
			 
			 <div id="date_div" class="hidden form-inline" style ="margin-top: 27px; margin-bottom: -20px">
	                <!-- < div class="pull-left" style = 'margin-top: px; margin-bottom: px'> -->
	            <input type="text" class="form-control" data-provide='datepicker' name="start_date" id="date-field" placeholder="Start date "/>
	             <span class="add-on hidden" id = 'to'>to</span>
	                <!-- </div> -->
	                
	                <!-- <div class="pull-left" style = 'margin-top: px; margin-bottom: px'> -->
	            <input type="text" class="form-control" data-provide='datepicker' name="end_date" id="date-field2" placeholder="End date "/>
	                <!-- </div > -->
	            <input type="submit" id="search-field3" class=" hidden btn btn-primary" value="Search" style = "margin-left: 5px;" >

            </div>
				
		 <% end %>
		 
		 <div class="pull-right" style = 'margin-top: -2%'>
			<label class="">Display</label><br />
             <!-- <%#= select_tag :count, options_for_select([5,10,15,20,25,30], params[:count].to_i), :onchange => "if(this.value){ window.location='?count='+this.value ;}" %> -->
             <%= select_tag :per_page, options_for_select([10, 20, 30, 40,50, 70,100], params[:per_page].to_i),:onchange => "if(this.value){window.location='?per_page='+this.value;}", class: "w3-container  w3-bordered w3-round" %>
		 <br /><br />
		</div>
		
		<table class="w3-table-all w3-card-4 w3-small w3-hoverable table-condensed table-bordered">
		  <thead>
		    <tr class="w3-teal">
		      <th>Fullname</th>
		      <th>Username</th>
		      <th>Email</th>
		      <th>User Role</th>
		      <th style = "width: 150px">Date/Time</th>
		      
		      <% if current_user.present? && current_user.role_id == 1 %>
			     <th colspan="2" style="width: 15%">Options</th>
			      	
			      <%elsif current_user.present? && current_user.role_id == 2 %>
			      <th style = "width: 10px">Options</th>
			      	
			  <%end%>
		      
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
		        <td><%= user.fullname %></td>
		        <td><%= user.username %></td>
		        <td><%= user.email %></td>
		        <td><%= user.role.role_name if user.role %></td>
		        <td><%= user.created_at.strftime("%F %R") %></td>
		        
		        <td><%= link_to 'Edit', edit_user_path(user), class: 'w3-button  btn-default w3-blue w3-hover-blue w3-card-4 w3-ripple w3-round-large' %></td>
		        
		      <% if current_user.present? && current_user.role_id == 1 %>
		        <td>
			      <% if user.status == false %>
			         <%= link_to 'Enable', enable_user_path(:id => user.id), :class => 'w3-button btn-default w3-green w3-hover-green w3-card-4 w3-ripple w3-round-large'%>
			         <% else user.status == true %>
			         <%= link_to 'Disable', disable_user_path(:id => user.id), :class => 'w3-button btn-default w3-red w3-hover-red w3-card-4 w3-ripple w3-round-large', data: {confirm: 'Do you want to proceed?'}%>
			      <% end %>
		       </td>
		       <%end%>  
		        
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		
		<%= will_paginate @users, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: 'pagination-sm pull-right' %>
		 
		<br>
		
		<%= link_to '+', new_user_path, class: 'w3-button w3-teal w3-hover-blue w3-card-4 w3-ripple w3-circle' %> 
	<div>
	<div class="w3-col w3-container m1 "></div>

</div>

<script>
    $(document).ready(function() {
        $(".radio_div div input").click(function() {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        
        // filter by username
        $("#username").click(function() {
            if ($("#username").is(":checked")) {
                $("#search-field").attr("placeholder", "username");
                $("#search-field2").removeClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#date-field").addClass("hidden");
                $("#date-field2").addClass("hidden");
                $("#search-field3").addClass("hidden")
                $("#to").addClass("hidden");
            }
        });
        
        // filter by role
        $("#role").click(function() {
            if ($("#role").is(":checked")) {
                $("#search-field").attr("placeholder", "role");
                $("#search-field2").removeClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#date-field").addClass("hidden");
                $("#date-field2").addClass("hidden");
                $("#search-field3").addClass("hidden")
                $("#to").addClass("hidden");
            }
        });
       
        //////////////////////////clicking on filter by date
        $("#date").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").addClass("hidden");
            $("#search-field").addClass("hidden");
            $("#search-field3").removeClass("hidden");
            $("#to").removeClass("hidden");
            //$("#date_div").fadeIn('slow');
            //}
        });
        
        $("#date-field").click(function() {
           // if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            // $("#search-field3").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field2").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field3").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        
        
        ///////////////////////////////////////////////////
        $.fn.datepicker.noConflict = function() {
            $.fn.datepicker = old;
            return this;
        };
        ////////////////////////////////////////////////////
        $(function() {
            $('#date-field').datepicker({
                dateFormat : 'yy-mm-dd'
            }).val();
        });
        //////////////////////////////////////////////////////
        $(function() {
            $('#date-field2').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
       
        
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function() {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
            }
        });
        $("#recipient_number").click(function() {
            if ($("#recipient_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Recipient Number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
            }
        });
        
        
     
        // ///////////////////////////////////////////////////
        // $.fn.datepicker.noConflict = function() {
            // $.fn.datepicker = old;
            // return this;
        // };
        // ////////////////////////////////////////////////////
        // $(function() {
            // $('#date-field').datepicker({
                // dateFormat : 'yy-mm-dd'
            // });
        // });
        // //////////////////////////////////////////////////////
        // $(function() {
            // $('#date-field2').datepicker({
                // dateFormat : 'yy-mm-dd'
            // });
        // });
//         
        $('#csv').click(function() {
            console.log('works!');
            $('#csv_perpage').val($('#record').val());
            $('#csv_page').val($('li.active span').html());
            $('#csv_submit').click();
            console.log('works!');
        });
        /////////////////////////////////////////////////////////////
        $('#excel').click(function() {
            $('#excel_perpage').val($('#record').val());
            $('#excel_page').val($('li.active span').html());
            $('#excel_submit').click();
        });
    });
</script>

