<p>
  <strong>fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.role_name if @user.role %>
</p>