<br />
<div class="container" style = 'margin-top: 5%'>
	
	<div class="row">
		<div class="col-md-3 col-xs-12"></div>
		<div class="col-md-6 col-xs-12">
			<%= image_tag "ussd2.jpg", class: 'img img-responsive img-rounded img-thumbnail' %>	
		</div>
		<div class="col-md-3 col-xs-12"></div>
		
	</div>
	
</div>



