<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

<div class = "w3-card-4 w3-round-large"><br>
  <div class="w3-container">
  	<div class ="pull-left">
     <%= f.input :FIRSTNAME, :class => "w3-input w3-round", :required => true, input_html: { style: 'width: 200px' } %>
    </div>
    
    <div class ="pull-right">
     <%= f.input :LASTNAME, :class => "w3-input w3-round", :required => true, input_html: { style: 'width: 200px' } %>
    </div>
    
    <div class ="pull-left">
      <%= f.input :PHONE_NUM, :class => "w3-input w3-round", :required => true %>
    </div>
    
    <div class ="pull-right">
      <%= f.input :MOBILE_NUMBER, :class => "w3-input w3-round", :required => true %>
    </div>
    
    <div class ="pull-left">
	   <%= f.input :AGE, :class => "w3-input w3-round", :required => true, input_html: { min: '0', step: 'any', style: 'width: 200px' } %>
	</div>
	
	<div class ="pull-right">
	   <%= f.input :GENDER,  collection: ['Male', 'Female'], :class => "w3-input w3-round ", :required => true, input_html: { style: 'width: 200px' } %>
    </div>
    
    <%= f.input :STATUS, :class => "w3-radio", :as => :hidden %>
    
    
    <div style = "margin-top: 23%">
	    <%= link_to 'Back', contacts_path, class: "w3-button w3-teal w3-round-large w3-hoverable w3-left" %>
	    <%= f.button :submit, class: "w3-blue w3-round-large w3-hoverable w3-button w3-right" %>
    </div>
    
  </div>
<br />
 </div>
  
<% end %>
