<div class="w3-row">
	<div class="w3-col w3-container m1 "></div>
	
	<div class="w3-col w3-container m10 ">
		<h3>Available Contacts</h3>
			<p style = 'text-align: center; font-family: tahoma; font-size: 15px;'>
				<b>Download:</b> <%= link_to "csv", contacts_path(format: "csv") %> 
				<!-- | <%= link_to "excel", contacts_path(format: "xlsx") %>  -->
			</p>
			
			<%= form_tag contacts_path, method: :get, input_html:{display:"block"} do %>
				 <div class="radio_div">
				 	<b>Filter By:</b><br />
					<input id="firstname" type="radio" name="search_param" value="firstname" class = "w3-radio" /> Firstname  
					
					<input id="lastname" type="radio" name="search_param" value="lastname" class = "w3-radio" /> Lastname 
					
					<input id="date" type="radio" name="search_param" value="date" class = "w3-radio" /> Date  
				 </div>
				
									
				<div class="form-inline" style = 'margin-top: 5px; margin-bottom: -25px'>
					<input id="search-field" class="hidden w3-input w3-border w3-round form-control"  name="search_value" />
					<input type="submit" id="search-field2" class=" hidden btn btn-primary" value="Search"  >
				</div>
				
				<div id="date_div" class="hidden form-inline" style ="margin-top: 27px; margin-bottom: -20px">
	                <!-- < div class="pull-left" style = 'margin-top: px; margin-bottom: px'> -->
	                <input type="text" class="form-control" data-provide='datepicker' name="start_date" id="date-field" placeholder="Start date "/>
	                <span class="add-on hidden" id = 'to'>to</span>
	                <!-- </div> -->
	                
	                <!-- <div class="pull-left" style = 'margin-top: px; margin-bottom: px'> -->
	                <input type="text" class="form-control" data-provide='datepicker' name="end_date" id="date-field2" placeholder="End date "/>
	                <!-- </div > -->
	                <input type="submit" id="search-field3" class=" hidden btn btn-primary" value="Search" style = "margin-left: 5px;" >

                </div>
                
			<% end %>
			
			
			<div class="pull-right" style = 'margin-top: -3%'>
			  <label class="">Display</label><br />
              <!-- <%= select_tag :count, options_for_select([5,10,15,20,25,30], params[:count].to_i), :onchange => "if(this.value){ window.location='?count='+this.value ;}" %> -->
              <%= select_tag :per_page, options_for_select([10, 20, 30, 40,50, 70,100], params[:per_page].to_i),:onchange => "if(this.value){window.location='?per_page='+this.value;}", class: "w3-container  w3-bordered w3-round" %>
			<br /><br />
			</div>
			 
			
			<table class="w3-table-all w3-card-4 w3-small w3-hoverable w3-responsive table-bordered">
			  <thead  style = 'text-align: center'>
			    <tr class="w3-teal">
			      <th>s/n</th>
			      <th>Firstname</th>
			      <th>Lastname</th>
			      <th>Phone num</th>
			      <th>Mobile number</th>
			      <th>Age</th>
			      <th>Gender</th>
			      <th style = "width: 150px">Date/Time</th>
			      
			      <% if current_user.present? && current_user.role_id == 1 %>
			      	<th colspan="2" style="width: 15%">Options</th>
			      	
			      	<%elsif current_user.present? && current_user.role_id == 2 %>
			      	 <th style = "width: 10px">Options</th>
			      	
			      <%end%>
			      
			      
			      <!-- <th>Status</th> -->
			      <!-- <th colspan="3"></th>  -->
			    </tr>
			  </thead>
			
			  <tbody>
			    <% @contacts.each_with_index do |contact, index| %>
			      <tr>
			      	<td><%= "#{index+1}" %></td>
			        <td><%= contact.FIRSTNAME %></td>
			        <td><%= contact.LASTNAME %></td>
			        <td><%= contact.PHONE_NUM %></td>
			        <td><%= contact.MOBILE_NUMBER %></td>
			        <td><%= contact.AGE %></td>
			        <td><%= contact.GENDER %></td>
			        <td><%= contact.CREATED_AT.strftime("%F %R") %></td>
			        <!-- <td><%= link_to 'Show', contact %></td> -->
			        <td><%= link_to 'Edit', edit_contact_path(contact), class: 'w3-button  btn-default w3-blue w3-hover-blue w3-card-4 w3-ripple w3-round-large' %></td>
			        <!-- <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'w3-button btn-default w3-hover-red w3-card-4' %></td> -->
			       <% if current_user.present? && current_user.role_id == 1 %>
				        <td>
				            <% if contact.STATUS == false %>
				                <%= link_to 'Enable', enable_contact_path(:id => contact.ID), :class => 'w3-button btn-default w3-green w3-hover-green w3-card-4 w3-ripple w3-round-large'%>
				                <% else contact.STATUS == true %>
				                <%= link_to 'Disable', disable_contact_path(:id => contact.ID), :class => 'w3-button btn-default w3-red w3-hover-red w3-card-4 w3-ripple w3-round-large', data: {confirm: 'Do you want to proceed?'}%>
				            <% end %>
			          </td>
			      <%end%>
			      
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			
			<%= will_paginate @contacts, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_lable: 'Newer', class: 'pagination-sm pull-right' %>		
		 <br />
		
		<%= link_to '+', new_contact_path, class: 'w3-button w3-teal w3-hover-blue w3-card-4 w3-ripple w3-circle' %>
		
		<br /><br /> 
						
	</div>
	
	<div class="w3-col w3-container m1 "></div>
	
</div>




<script>
    $(document).ready(function() {
        $(".radio_div div input").click(function() {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        
        // filter by firstname
        $("#firstname").click(function() {
            if ($("#firstname").is(":checked")) {
                $("#search-field").attr("placeholder", "Firstname");
                $("#search-field2").removeClass("hidden")
                $("#search-field").removeClass("hidden");
                $("#date-field").addClass("hidden");
                $("#date-field2").addClass("hidden");
                $("#search-field3").addClass("hidden")
                $("#to").addClass("hidden");
            }
        });
        
        // filter by lastname
        $("#lastname").click(function() {
            if ($("#lastname").is(":checked")) {
                $("#search-field").attr("placeholder", "Lastname");
                $("#search-field2").removeClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#date-field").addClass("hidden");
                $("#date-field2").addClass("hidden");
                $("#search-field3").addClass("hidden")
                $("#to").addClass("hidden");
            }
        });
        
       
      
        
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function() {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
            }
        });
        $("#recipient_number").click(function() {
            if ($("#recipient_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Recipient Number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
            }
        });
        
        
         //////////////////////////clicking on filter by date
        $("#date").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field2").addClass("hidden");
            $("#search-field").addClass("hidden");
            $("#search-field3").removeClass("hidden");
            $("#to").removeClass("hidden");
            //$("#date_div").fadeIn('slow');
            //}
        });
        
        $("#date-field").click(function() {
           // if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            // $("#search-field3").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        $("#date-field2").click(function() {
            //if ($("#date").is(":checked")){
            $("#date_div").removeClass("hidden");
            $("#search-field").addClass("hidden");
            $("#date-field").removeClass("hidden");
            $("#date-field2").removeClass("hidden");
            $("#search-field3").removeClass("hidden")
            //$("#date_div").fadeIn('slow');
            //}
        });
        
        
        ///////////////////////////////////////////////////
        $.fn.datepicker.noConflict = function() {
            $.fn.datepicker = old;
            return this;
        };
        ////////////////////////////////////////////////////
        $(function() {
            $('#date-field').datepicker({
                dateFormat : 'yy-mm-dd'
            }).val();
        });
        //////////////////////////////////////////////////////
        $(function() {
            $('#date-field2').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
        
        
        
     
        // ///////////////////////////////////////////////////
        // $.fn.datepicker.noConflict = function() {
            // $.fn.datepicker = old;
            // return this;
        // };
        // ////////////////////////////////////////////////////
        // $(function() {
            // $('#date-field').datepicker({
                // dateFormat : 'yy-mm-dd'
            // });
        // });
        // //////////////////////////////////////////////////////
        // $(function() {
            // $('#date-field2').datepicker({
                // dateFormat : 'yy-mm-dd'
            // });
        // });
//         
        $('#csv').click(function() {
            console.log('works!');
            $('#csv_perpage').val($('#record').val());
            $('#csv_page').val($('li.active span').html());
            $('#csv_submit').click();
            console.log('works!');
        });
        /////////////////////////////////////////////////////////////
        $('#excel').click(function() {
            $('#excel_perpage').val($('#record').val());
            $('#excel_page').val($('li.active span').html());
            $('#excel_submit').click();
        });
    });
</script>



