<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.FIRSTNAME %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.LASTNAME %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @contact.PHONE_NUM %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @contact.MOBILE_NUMBER %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.AGE %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.GENDER %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact.STATUS %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
