<p id="notice"><%= notice %></p>

<h1>Listing Uusers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uusers.each do |uuser| %>
      <tr>
        <td><%= link_to 'Show', uuser %></td>
        <td><%= link_to 'Edit', edit_uuser_path(uuser) %></td>
        <td><%= link_to 'Destroy', uuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uuser', new_uuser_path %>
