
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="w3-col w3-container m4 col-sm-12"></div>

<div class="w3-col w3-container m4 col-sm-12 w3-padding" style = "margin-top: 8%;">	
	<div class = "w3-card-4 w3-round-large"><br>
		 <h3 style ="margin-top: -20px">Log in</h3>
		  <div class="w3-container">
		  	 <%= f.input :username, required: false, :class => "w3-input w3-round", autofocus: true %>
			 <%= f.input :password, required: false, :class => "w3-input w3-round" %>
			 <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		    
		     <%= f.button :submit, "Log in", class: "w3-blue w3-round-large w3-hoverable w3-button w3-right w3-large", :style => "margin-bottom:10px" %>
		   </div>
	 </div>
	 
	 <div class="w3-col w3-container m4 col-sm-12"></div>
	<br />
 </div>

  <!-- <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->