<%= simple_form_for(@role) do |f| %>
  <%= f.error_notification %>

<div class = "w3-card-4 w3-round-large"><br>
	  <div class="w3-container">
	    <%= f.input :role_name %>
	    <%= f.input :status, :class => "w3-radio", :as => :hidden %>
	    
	    <%= link_to 'Back', roles_path, class: "w3-button w3-teal w3-round-large w3-hoverable w3-left" %>
	    <%= f.button :submit, class: "w3-blue w3-round-large w3-hoverable w3-button w3-right" %>
	  </div>
	  
	 <br />
</div>

<% end %>
