<!-- <h1>Editing Role</h1>

<%= render 'form' %>

<%= link_to 'Show', @role %> |
<%= link_to 'Back', roles_path %> -->
<div class="w3-container" style = "margin-top: 5%">
	<h3>Edit Role</h3>
	<div class="w3-row">
		<div class="w3-col w3-container m4 col-sm-12"></div>
		<div class="w3-col w3-container m4 col-sm-12 ">
			<%= render 'form' %>
		</div>
		<div class="w3-col w3-container m4 col-sm-12 "></div>
		
	</div>
	
</div>
