<%= simple_form_for(@tracker) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :page %>
    <%= f.input :function %>
    <%= f.input :session_id %>
    <%= f.input :mobile_num %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
