<p id="notice"><%= notice %></p>

<h1>Listing Trackers</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Function</th>
      <th>Session</th>
      <th>Mobile num</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.page %></td>
        <td><%= tracker.function %></td>
        <td><%= tracker.session_id %></td>
        <td><%= tracker.mobile_num %></td>
        <td><%= tracker.status %></td>
        <td><%= link_to 'Show', tracker %></td>
        <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
        <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracker', new_tracker_path %>
