<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @tracker.page %>
</p>

<p>
  <strong>Function:</strong>
  <%= @tracker.function %>
</p>

<p>
  <strong>Session:</strong>
  <%= @tracker.session_id %>
</p>

<p>
  <strong>Mobile num:</strong>
  <%= @tracker.mobile_num %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tracker.status %>
</p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
