<%= link_to 'Contacts', contacts_path, class: 'w3-bar-item w3-button w3-hover-teal ' %>
<%= link_to 'Logs', ussd_logs_path, class: 'w3-bar-item w3-button w3-hover-teal' %>
<%#= link_to 'Users', users_path, class: 'w3-bar-item w3-button w3-hover-teal' %>
