<!-- <ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul> -->

<!-- <div class="w3-top w3-bar w3-blue w3-border w3-card-4 w3-round w3-large">
	<%= link_to 'Home', root_path, class: 'w3-bar-item w3-button w3-hover-teal' %>
	<%= render 'layouts/navigation_links' %>
	
</div> -->

<div class="w3-bar w3-blue w3-border w3-card-4 w3-round w3-large">
    <%= link_to 'Home', root_path, class: 'w3-bar-item w3-button w3-hover-teal' %>
	<%= render 'layouts/navigation_links' %>
	
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button">
      	<% if current_user.present? && current_user.role_id? %>
          <%= current_user.username %>
        <% end %>
        <span class="caret"></span>
      </button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4" style = 'margin-left: -5%; width: 50px'>
      	<% if current_user.present? && current_user.role_id == 1 %>
      	 <%= link_to 'View Users',  users_path, class: "w3-bar-item w3-button w3-small w3-hover-blue" %>
      	 <%= link_to 'View Roles',  roles_path, class: "w3-bar-item w3-button w3-small w3-hover-blue" %>
      	<%end%>
      	
      	<%= link_to 'Edit Profile',  edit_user_path(current_user), class: "w3-bar-item w3-button w3-small w3-hover-blue" %>
        <%= link_to 'Log Out',  destroy_user_session_path, method: :delete, class: "w3-bar-item w3-button w3-small w3-hover-blue" %>

      </div>
    </div>
  </div>

 <br />


 