<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ussd Portal" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ussd Portal" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<div class="w3-cell-row">
  		<div class="w3-top">
	  		<% if user_signed_in? %> 
	  	      <%= render 'layouts/navigation' %>
	  	     <%end%>
  		</div>
  		
   	  <div class="w3-container" style = 'margin-top: 3%'>
   	  	
   	  	<div class="w3-row">
   	  	    <%= render 'layouts/messages' %>
   	  	</div>
   	  	 
   	  <%= yield %>
   	  		
   	  </div>
      
    </div>
  </body>
</html>
